.navbar {
    background-color: transparent;
    margin-top: 15px;

    .nav-link {
        color: white;
        font-size: 14px;
    }

    .active {
        .nav-link {
            border-bottom: 2px solid #3e48db;
        }
    }

    .btn-light {
        border-radius: 30px;
    }

    .navbar-toggler {
        .fa-bars {
            color: white;
            font-size: 30px;
        }

        &:focus {
            outline: none;
            box-shadow: none;
        }
    }
}