@import 'navbar';

body {
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3 {
    color: black;
    font-weight: 600 !important;
}

p {
    color: gray;
    font-size: 16px;
    font-weight: 300;
}

.header {
    background-image: url('../Assets/header-bg.png');
    background-position: center;
    background-size: cover;
    position: relative;
    padding-bottom: 15%;

    h1,
    p {
        color: white;
    }

    .btn-lg {
        font-size: 16px;
        border-radius: 8px;
        padding: 12px 20px;
    }
}

.why-us {
    padding-top: 50px;

    .why-us-header {
        max-width: 600px;
        margin: auto;
        text-align: center;
        padding: 0px 15px;
    }

    .btn {
        font-size: 14px;
        background-color: #1613D7;
        color: white;
        border-radius: 8px;
        padding: 10px 20px;

        &:hover {
            opacity: .7;
            transition: .3s;
            color: white;
        }
    }
}

.contact {
    padding-bottom: 100px;

    .contact-header {
        max-width: 600px;
        margin: auto;
        text-align: center;
        padding: 0px 15px;
    }

    .contact-form {
        max-width: 800px;
        margin: auto;
        background-color: #333697;
        padding: 50px;
        border-radius: 10px;

        h3,
        small,
        label {
            color: white;
        }

        label {
            font-size: 14px;
        }

        input.form-control,
        textarea.form-control {
            border-radius: 30px;
            font-size: 14px;
            padding: 20px 30px;

            &::placeholder {
                font-size: 12px;
                color: gray;
            }
        }

        select.form-control {
            border-radius: 30px;
            font-size: 12px;
            height: 42px;
            padding: 10px 24px;
            color: gray;

            option {
                font-size: 12px;
            }
        }

        .message-wrapper {
            position: relative;

            .btn {
                position: absolute;
                right: 10px;
                bottom: 10px;
                border-radius: 30px;
                padding: 9px 30px;
                font-size: 14px;
                background-color: #333697;
                color: white;

                &:hover {
                    opacity: .9;
                    transition: .3s;
                }
            }
        }
    }
}

.footer {
    padding: 30px 0px;
    background-color: #EBEBF8;

    small {
        color: gray;
        font-size: 10px;
        margin-top: 15px;
        display: inline-block;
    }

    a {
        small {
            &:hover {
                color: #333697;
                transition: .3s;
            }
        }
    }

    .social-media {
        text-align: right;

        .fab {
            color: #9D9DA8;
            font-size: 20px;
            margin-left: 8px;

            &:hover {
                color: #333697;
                transition: .3s;
            }
        }
    }

    .company {
        text-align: right;
    }
}

/*-------------------------------------
             Media Query
--------------------------------------*/
@media (min-width: 1900px) {
    .header {
        padding-bottom: 20%;
    }
}

/*-------------------------------------
             Media Query
--------------------------------------*/
@media (max-width: 1200px) {

    .contact {
        padding-top: 100px;
    }
}


/*-------------------------------------
             Media Query
--------------------------------------*/
@media (max-width: 992px) {
    .header {
        padding-bottom: 0px;

        .col-lg-6 {
            text-align: center;
        }
    }

    .why-contents {
        h3 {
            text-align: center;
        }
    }
}

/*-------------------------------------
             Media Query
--------------------------------------*/
@media (max-width: 576px) {

    h1,
    h2,
    h3 {
        font-size: 28px !important;
        line-height: 32px !important;
    }

    .contact {
        .contact-form {
            padding: 30px 20px;
        }
    }

    .footer {
        .social-media {
            margin: 15px 0px;
            text-align: center;
        }

        .company {
            text-align: center;
        }

        .col-md-6 {
            text-align: center;
        }
    }
}